<p>HOME PAGE</p>
<form method="post">
    {% for book_name, link in my_favourite_books_links.items %}
        <p><a href="{{ link }}">{{ book_name }}</a></p>
    {% endfor %}
    <p><a href="/registration">REGISTRATION</a></p>
    <p><a href="/login">LOGIN</a></p>
    <output name="error_message" id="error_message">{{error_message}}</output>
</form>