{% load staticfiles %}
<p>REGISTER PAGE</p>
<form method="post">
    {% for value in form %}
        <p>{{ value.label }} :</p>
        <p><input type="text" name="{{ value.name }}" id="{{ value.name }}"></p>
    {% endfor %}
    <button type="button" onclick="send();">Register</button>
    <p><a href="/login">LOGIN</a></p>
    <p><a href="/home">HOME</a></p>
    <output name="error_message" id="error_message">{{error_message}}</output>
</form>

<script type="text/javascript" src="https://storage.googleapis.com/google-code-archive-downloads/v2/code.google.com/jqueryjs/jquery-1.3.2.js"></script>
<script type="text/javascript" src="{% static 'js/registration.js' %}"></script>
<script type="text/javascript" src="{% static 'js/common.js' %}"></script>