{% load staticfiles %}
<p>RESTORE PASSWORD PAGE</p>
<form method="post">
    <div id="user" style="display: block;">
        <p>User name:</p>
        <input type="text" name="user_name" id="user_name">
        <button type="button" onclick="getSecretQuestion();">Get my secret question</button>
    </div>
    <p><output name="error_message" id="error_message">{{error_message}}</output></p>
    <div id="answer" style="display: none;">
        <p>Answer:</p>
        <input type="text" name="secret_answer" id="secret_answer">
        <button type="button" onclick="send();">Get my pass</button>
    </div>
    <p><a href="/registration">REGISTRATION</a></p>
    <p><a href="/login">LOGIN</a></p>
    <p><a href="/login">HOME</a></p>
</form>

<script type="text/javascript" src="https://storage.googleapis.com/google-code-archive-downloads/v2/code.google.com/jqueryjs/jquery-1.3.2.js"></script>
<script type="text/javascript" src="{% static 'js/restore_password.js' %}"></script>
<script type="text/javascript" src="{% static 'js/common.js' %}"></script>